<!DOCTYPE html>
<html>

<head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Link to your custom theme.css file -->
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <style>
        body {
            background: linear-gradient(to bottom, #9f8ec8 0%, #f5f3fc 100%);
            color: #333;
        }

        .navbar {
            background-color: #dccce6;
        }

        .navbar-brand {
            font-family: 'Lucida Console', Courier, monospace;
        }

        .form-group label {
            font-weight: bold;
        }

        .btn-primary {
            background-color: #4a148c;
            border: none;
        }

        .btn-primary:hover {
            background-color: #6a1b9a;
        }
    </style>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>