<!DOCTYPE html>
<html>
<head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Link to your custom theme.css file -->
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <style>
        .profile-img {
            width: 150px; /* Adjust the size as needed */
            height: 150px; /* Ensure the width and height are equal */
            border-radius: 50%; /* This makes the image a circle */
            object-fit: cover; /* Ensure the image covers the area */
        }
        .media {
            display: flex;
            align-items: flex-start;
        }
        .media-body {
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sagar Baral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item active"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/htmlDemo">HTML Demo</a></li>
                <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
                <li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
                <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        document.getElementById('studentByNumberLink').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the default link behavior
            fetchStudentByNumber(2); // Fetch data for student number 2
        });

        function fetchStudentByNumber(studentNum) {
            fetch(`/data/students.json/student=${studentNum}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('studentData').innerText = JSON.stringify(data, null, 2);
                })
                .catch(error => {
                    document.getElementById('studentData').innerText = 'Error: ' + error;
                });
        }
    </script>
</body>
</html>
