<div class="row">
    <main class="col-md-12">
        <!-- Start your code here -->
        <div class="container mt-4">
            <div class="row">
                <main class="col-md-12">
                    <h1 class="mb-4">Sagar Baral</h1>

                    <section class="mb-5">
                        <h2>Seneca Information</h2>
                        <ul class="list-unstyled">
                            <li>
                                <strong>Email:</strong> sbaral10@myseneca.ca
                            </li>
                            <li>
                                <strong>Student ID:</strong> 137598231
                            </li>
                        </ul>
                    </section>

                    <section class="mb-5">
                        <div class="media">
                            <img src="/images/photo.jpg" class="mr-3 profile-img" alt="Sagar Baral">
                            <div class="media-body">
                                <h2>Personal Bio</h2>
                                <p>Experienced Software Quality Assurance (QA) professional with over 5 years in the
                                    industry. Proven track record in developing and executing test plans, managing
                                    defect tracking, and collaborating with cross-functional teams. Proficient in Agile
                                    methodologies, Jira, and performance testing. Strong analytical and communication
                                    skills with a commitment to continuous learning and improvement.</p>
                            </div>
                        </div>
                    </section>

                    <section class="mb-5">
                        <h2>Education</h2>
                        <ul class="list-unstyled">
                            <li class="media">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Graduate Certificate in Business Information Technology</h5>
                                    <p>Seneca College, 2024 - Present</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Bachelor of Science in Computer Science and Information
                                        Technology</h5>
                                    <p>Prithivi Narayan Campus, 2016 - 2021</p>
                                </div>
                            </li>
                        </ul>
                    </section>

                    <section class="mb-5">
                        <h2>Work Experience</h2>
                        <ul class="list-unstyled">
                            <li class="media">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Software Quality Assurance Associate</h5>
                                    <p>NIPUNA PRABIDHIK SEWA, 2022 - 2023</p>
                                    <p>Spearheaded software quality assurance initiatives ensuring the delivery of
                                        high-quality products. Participated in gathering requirements and design
                                        reviews. Collaborated on developing comprehensive test plans and test cases.
                                        Conducted functional, regression, and performance testing to validate software
                                        functionality. Identified, documented, and tracked software defects for prompt
                                        resolution. Coordinated defect resolution and retesting, quantifying and
                                        mitigating risks accordingly. Engaged in continuous improvement efforts,
                                        refining testing processes for increased efficiency. Provided valuable insights
                                        and feedback to enhance overall product quality.</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Junior Web Developer</h5>
                                    <p>CHIP-TECH PVT. LTD., 2019 - 2022</p>
                                    <p>Developed dynamic websites using JavaScript and Java. Analyzed and implemented
                                        project requirements with cross-functional teams. Designed and managed databases
                                        for efficient data handling. Troubleshot and debugged to ensure website
                                        functionality. Conducted code reviews and optimized performance.</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Networking Assistant</h5>
                                    <p>PURPLECLONE TECHNOLOGIES, 2016 - 2019</p>
                                    <p>Managed setup and maintenance of wired and wireless networks. Installed and
                                        configured data network devices. Resolved network issues to minimize downtime.
                                        Provided technical support and customer service.</p>
                                </div>
                            </li>
                        </ul>
                    </section>

                    <section class="mb-5">
                        <h2>Skills</h2>
                        <ul class="list-inline">
                            <li class="list-inline-item badge badge-primary">Agile Development</li>
                            <li class="list-inline-item badge badge-secondary">Jira</li>
                            <li class="list-inline-item badge badge-success">Manual Testing</li>
                            <li class="list-inline-item badge badge-danger">Performance Testing</li>
                            <li class="list-inline-item badge badge-warning">Test Plan Development</li>
                            <li class="list-inline-item badge badge-info">Test Case Execution</li>
                            <li class="list-inline-item badge badge-dark">Defect Tracking</li>
                            <li class="list-inline-item badge badge-primary">JavaScript</li>
                            <li class="list-inline-item badge badge-secondary">Java</li>
                            <li class="list-inline-item badge badge-success">Database Management</li>
                            <li class="list-inline-item badge badge-danger">SDLC</li>
                            <li class="list-inline-item badge badge-warning">STLC</li>
                            <li class="list-inline-item badge badge-info">Data Network Installation</li>
                            <li class="list-inline-item badge badge-dark">Device Configuration</li>
                            <li class="list-inline-item badge badge-primary">Network Monitoring</li>
                            <li class="list-inline-item badge badge-secondary">Troubleshooting</li>
                        </ul>
                    </section>

                    <section class="mb-5">
                        <h2>Contact Information</h2>
                        <p>
                            Email: <a href="mailto:sbaral10@myseneca.ca">sbaral10@myseneca.ca</a>
                        </p>
                        <p>
                            LinkedIn: <a
                                href="https://www.linkedin.com/in/sagar-baral">https://www.linkedin.com/in/sagar-baral</a>
                        </p>
                        <p>
                            Facebook: <a
                                href="https://www.facebook.com/sagar.baral">https://www.facebook.com/sagar.baral</a>
                        </p>
                    </section>
                </main>
            </div>
        </div>
        <!-- End your code here  -->
    </main>
</div>